@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="sentEmail" class="col-lg-6 col-lg-offset-3">
        <h2 style="text-align: center">Your order has been placed, to view go into your Account.</h2>
    </div>
</div>