@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="sentEmail" class="col-lg-6 col-lg-offset-3">
        <h2 style="text-align: center">Your message has been sent</h2>
    </div>
</div>