<div class="main">
    <div class="content">
        <div class="login_panel">
            <h3>Existing Customers</h3>
            <p>Sign in with the form below.</p>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id="loginForm"}))
            { 
                <input name="#" type="text" value="Username" class="field" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
                <input name="#" type="password" value="Password" class="field" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
            }
            <p class="note">If you forgot your passoword just enter your email and click <a href="#">here</a></p>
            <div class="buttons">
                <button class="grey">Sign In</button>
            </div>
        </div>
        <div class="register_account">
            <h3>Register New Account</h3>
            @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { id="registerForm"}))
            { 
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <input type="text" name="name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                                </div>
                                <div>
                                    <input type="text" name="company" value="Company Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Company Name';}">
                                </div>
                                <div>
                                    <input type="text" name="email" value="E-Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-Mail';}">
                                </div>
                                <div>
                                    <input type="text" name="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" name="address" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}">
                                </div>
                                <div>
                                    <select id="state" name="state" onchange="change_state(this.value)" class="frm-field required">
                                        <option value="null">Select a State</option>
                                        <option value="AX">Åland Islands</option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                    </select>
                                </div>
                                <div>
                                    <select id="country" name="country" onchange="change_country(this.value)" class="frm-field required">
                                        <option value="null">Select a Country</option>
                                        <option value="AX">Åland Islands</option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                    </select>
                                </div>
                                <div>
                                    <input type="text" name="city" value="City" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'City';}">
                                </div>
                                <div>
                                    <input type="text" name="code" value="" class="code"> - <input type="text" name="number" value="" class="number">
                                    <p>Country Code + Phone Number</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="search"><div><button class="grey">Create Account</button></div></div>
                <p class="terms">By clicking 'Create Account' you agree to the <a href="#">Terms &amp; Conditions</a>.</p>
                <div class="clear"></div>
            }
        </div>
        <div class="clear"></div>
    </div>
</div>