@{
    ViewBag.Title = "Billing";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}
@using Capstone.Models;
@using (Html.BeginForm("Address", "Customer", FormMethod.Post, new { id = "customerAddresssForm" }))
{
    @Html.AntiForgeryToken()
    
        <div id="page-wrapper">
            <div class="container-fluid">
                <form class="form-horizontal" role="form">
                    <fieldset>
                        <legend>Payment</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                            <div class="col-sm-9">
                                <input type="text" name="cardNumber" value="@ViewBag.customerBillinginfo[0].cardNumber" class="form-control" id="card-number" placeholder="Debit/Credit Card Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                            <div class="col-sm-9">
                                <input type="text" name="expireDate" value="@ViewBag.customerBilling[0].expireDate.Day ViewBag.customerBilling[0].expireDate.Month"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="card-type">Card Type</label>
                            <p>
                                if(ViewBag.customerBilling[0].cardType == 1){
                                   Visa:<input name="cardType" checked type="radio" value="1" class="field">
                                }else{
                                    Visa:<input name="cardType" checked type="radio" value="1" class="field">
                                }
                                if(ViewBag.customerBilling[0].cardType == 2){
                                    Master Card:<input name="cardType" type="radio" value="2" class="field">
                                }else
                                {
                                    Master Card:<input checked name="cardType" type="radio" value="2" class="field">
                                }
                                if(ViewBag.customerBilling[0].cardType == 3){
                                    American Express:<input checked name="cardType" type="radio" value="3" class="field"><br /><br />
                                }else{
                                    American Express:<input name="cardType" type="radio" value="3" class="field"><br /><br />
                                }                                
                             </p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="button" class="btn btn-success">Pay Now</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
}